@model PMS_PropertyHapa.Models.DTO.OwnerDto

@{
    ViewData["Title"] = "Add/Edit Landlord";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <h3>@(Model?.OwnerId == null ? "Add Landlord" : "Edit Landlord")</h3>
                </div>
                <div class="col-12 col-sm-6">
                    <ol class="breadcrumb">
                        @if (Model?.OwnerId == null)
                        {
                            <li class="breadcrumb-item"><a href="@Url.Action("AddLandlord", "Landlord")"><i data-feather="home"></i></a></li>
                        }
                        else
                        {
                            <li class="breadcrumb-item"><a href="@Url.Action("EditLandlord", "Landlord")"><i data-feather="home"></i></a></li>
                        }


                        <li class="breadcrumb-item">Owner</li>
                        <li class="breadcrumb-item active">@(Model?.OwnerId == null ? "Add Landlord" : "Edit Landlord")</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="edit-profile">
            <div class="row">
                <form id="tenantForm" method="post" enctype="multipart/form-data">
                    <div class="col-xl-12">
                        <!-- Tenant Information -->
                        <div class="card">
                            <div class="card-header pb-0">
                                <h4 class="card-title mb-0">LandLord Information</h4>
                                <div class="card-options"><a class="card-options-collapse" href="#" data-bs-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a><a class="card-options-remove" href="#" data-bs-toggle="card-remove"><i class="fe fe-x"></i></a></div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <input type="hidden" id="OwnerId" name="OwnerId" value="@Model?.OwnerId" />
                                    <!-- First Name -->
                                    <div class="col-sm-6 col-md-3">
                                        <div class="mb-3">
                                            <label for="FirstName" class="form-label">First Name</label>
                                            <input type="text" class="form-control" id="FirstName" name="FirstName" value="@Model?.FirstName" required />
                                        </div>
                                    </div>
                                    <!-- Last Name -->
                                    <div class="col-sm-6 col-md-3">
                                        <div class="mb-3">
                                            <label for="LastName" class="form-label">Last Name</label>
                                            <input type="text" class="form-control" id="LastName" name="LastName" value="@Model?.LastName" required />
                                        </div>
                                    </div>
                                    <!-- Email Address -->
                                    <div class="col-sm-6 col-md-3">
                                        <div class="mb-3">
                                            <label for="EmailAddress" class="form-label">Email</label>
                                            <input type="email" class="form-control" id="EmailAddress" name="EmailAddress" value="@Model?.EmailAddress" required />
                                        </div>
                                    </div>
                                    <!-- Phone Number -->
                                    <div class="col-sm-6 col-md-3">
                                        <div class="mb-3">
                                            <label for="PhoneNumber" class="form-label">Phone Number</label>
                                            <input type="text" class="form-control" id="PhoneNumber" name="PhoneNumber" value="@Model?.PhoneNumber" required />
                                        </div>
                                    </div>
                                    <!-- Gender -->
                                    <div class="col-sm-6 col-md-3">
                                        <div class="mb-3">
                                            <label for="Gender" class="form-label">Gender</label>
                                            <select class="form-control" id="Gender" name="Gender" required>
                                                <option value="">Select Gender</option>
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>
                                                <option value="Other">Other</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- Date of Birth -->
                                    <div class="col-sm-6 col-md-3">
                                        <div class="mb-3">
                                            <label for="DOB" class="form-label">Date of Birth</label>
                                            <input type="date" class="form-control" id="DOB" name="DOB" value="@Model?.DOB" />
                                        </div>
                                    </div>
                                    <!-- Emergency Contact Info -->
                                    <div class="col-sm-6 col-md-3">
                                        <div class="mb-3">
                                            <label for="EmergencyContactInfo" class="form-label">Emergency Contact Info</label>
                                            <input type="text" class="form-control" id="EmergencyContactInfo" name="EmergencyContactInfo" value="@Model?.EmergencyContactInfo" required />
                                        </div>
                                    </div>
                                    <!-- VAT -->
                                    <div class="col-sm-6 col-md-3">
                                        <div class="mb-3">
                                            <label for="TenantNationality" class="form-label">Owner Nationality</label>
                                            <input type="text" class="form-control" id="TenantNationality" name="TenantNationality" value="@Model?.OwnerNationality" required />
                                        </div>
                                    </div>

                                    <div class="col-sm-6 col-md-3">
                                        <div class="mb-3">
                                            <label for="PictureUrl" class="form-label">Picture</label>
                                            <input type="file" class="form-control" id="PictureUrl" name="PictureUrl" accept="image/*" />
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- Billing Information -->
                        <div class="card">
                            <div class="card-header pb-0">
                                <h4 class="card-title mb-0">Billing Information</h4>
                                <div class="card-options"><a class="card-options-collapse" href="#" data-bs-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a><a class="card-options-remove" href="#" data-bs-toggle="card-remove"><i class="fe fe-x"></i></a></div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6 col-md-3">
                                        <div class="mb-3">
                                            <label for="Account_Name">Account Name</label>
                                            <input type="text" class="form-control" id="Account_Name" name="Account_Name" value="@Model?.Account_Name" required />
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <div class="mb-3">
                                            <label for="Account_Holder">Account Holder</label>
                                            <input type="text" class="form-control" id="Account_Holder" name="Account_Holder" value="@Model?.Account_Holder" required />
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <div class="mb-3">
                                            <label for="Account_IBAN">Account IBAN</label>
                                            <input type="text" class="form-control" id="Account_IBAN" name="Account_IBAN" value="@Model?.Account_IBAN" required />
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <div class="mb-3">
                                            <label for="Account_Swift">Account SWIFT/BIC</label>
                                            <input type="text" class="form-control" id="Account_Swift" name="Account_Swift" value="@Model?.Account_Swift" required />
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <div class="mb-3">
                                            <label for="Account_Bank">Account Bank</label>
                                            <input type="text" class="form-control" id="Account_Bank" name="Account_Bank" value="@Model?.Account_Bank" required />
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <div class="mb-3">
                                            <label for="Account_Currency">Account Currency</label>
                                            <input type="text" class="form-control" id="Account_Currency" name="Account_Currency" value="@Model?.Account_Currency" required />
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <div class="mb-3">
                                            <label for="VAT">VAT Number</label>
                                            <input type="text" class="form-control" id="VAT" name="VAT" value="@Model?.VAT" required />
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <div class="mb-3">
                                            <label for="LegalName">Legal Name</label>
                                            <input type="text" class="form-control" id="LegalName" name="LegalName" value="@Model?.LegalName" required />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Address Information -->
                        <div class="card">
                            <div class="card-header pb-0">
                                <h4 class="card-title mb-0">Address Information</h4>
                                <div class="card-options"><a class="card-options-collapse" href="#" data-bs-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a><a class="card-options-remove" href="#" data-bs-toggle="card-remove"><i class="fe fe-x"></i></a></div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6 col-md-3">
                                        <div class="mb-3">
                                            <label for="Address">Address</label>
                                            <input type="text" class="form-control" id="Address" name="Address" value="@Model?.Address" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <div class="mb-3">
                                            <label for="Address2">Address 2</label>
                                            <input type="text" class="form-control" id="Address2" name="Address2" value="@Model?.Address2" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <div class="mb-3">
                                            <label for="Locality">Locality</label>
                                            <input type="text" class="form-control" id="Locality" name="Locality" value="@Model?.Locality" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <div class="mb-3">
                                            <label for="Region">Region</label>
                                            <input type="text" class="form-control" id="Region" name="Region" value="@Model?.Region" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <div class="mb-3">
                                            <label for="PostalCode">Postal Code</label>
                                            <input type="text" class="form-control" id="PostalCode" name="PostalCode" value="@Model?.PostalCode" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <div class="mb-3">
                                            <label for="Country">Country</label>
                                            <select class="form-control" id="Country" name="Country">
                                                <option value="">Select Country</option>
                                                <option value="Germany">Germany</option>
                                                <option value="Canada">Canada</option>
                                                <option value="USA">USA</option>
                                                <option value="Australia">Australia</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <div class="mb-3">
                                            <label for="CountryCode">Country Code</label>
                                            <input type="text" class="form-control" id="CountryCode" name="CountryCode" value="@Model?.CountryCode" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-footer text-end">
                            <button type="button" onclick="submitTenantForm()" class="btn btn-primary">@(Model?.OwnerId == null ? "Add" : "Edit") Owner</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
 

      function submitTenantForm() {
            event.preventDefault(); // Prevent the form from submitting in the default way

            // Check if all required fields are filled
            var isValid = true;
            var requiredFields = [
                '#FirstName',
                '#LastName',
                '#EmailAddress',
                '#PhoneNumber',
                '#Gender',
                '#EmergencyContactInfo',
                '#TenantNationality',
                '#Account_Name',
                '#Account_Holder',
                '#Account_IBAN',
                '#Account_Swift',
                '#Account_Bank',
                '#Account_Currency',
                '#VAT',
                '#LegalName'
            ];

            requiredFields.forEach(function (fieldId) {
                var fieldValue = $(fieldId).val().trim();
                if (!fieldValue) {
                    isValid = false;
                    $(fieldId).addClass('is-invalid');
                } else {
                    $(fieldId).removeClass('is-invalid');
                }
            });

            if (!isValid) {
                Swal.fire({
                    icon: 'warning',
                    title: 'Please fill all required fields',
                    timer: 3000,
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timerProgressBar: true,
                });
                return;
            }

            var formData = new FormData($('#tenantForm')[0]);
            var userId = localStorage.getItem('userId');
            formData.append('AppTId', userId); 

            var ajaxUrl = $('#OwnerId').val() ? '/Landlord/Update' : '/Landlord/Create';

            $.ajax({
                url: ajaxUrl,
                type: 'POST',
                data: formData,
                processData: false, 
                contentType: false, 
                success: function (response) {
                    if (response.success) {
                        toastr.success(response.message);
                        window.location.href = '/Landlord/Index'; 
                    } else {
                        toastr.error(response.message);
                    }
                },
                error: function (xhr, status, error) {
                    toastr.error("Error: " + error);
                }
            });
        }  


    $(document).ready(function () {

        // Function to convert a string to GUID format; only if needed
      

        function submitTenantForm() {
            event.preventDefault(); // Prevent the form from submitting in the default way

            // Check if all required fields are filled
            var isValid = true;
            var requiredFields = [
                '#FirstName',
                '#LastName',
                '#EmailAddress',
                '#PhoneNumber',
                '#Gender',
                '#EmergencyContactInfo',
                '#TenantNationality',
                '#Account_Name',
                '#Account_Holder',
                '#Account_IBAN',
                '#Account_Swift',
                '#Account_Bank',
                '#Account_Currency',
                '#VAT',
                '#LegalName'
            ];

            requiredFields.forEach(function (fieldId) {
                var fieldValue = $(fieldId).val().trim();
                if (!fieldValue) {
                    isValid = false;
                    $(fieldId).addClass('is-invalid');
                } else {
                    $(fieldId).removeClass('is-invalid');
                }
            });

            if (!isValid) {
                Swal.fire({
                    icon: 'warning',
                    title: 'Please fill all required fields',
                    timer: 3000,
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timerProgressBar: true,
                });
                return;
            }
            debugger;
            var formData = new FormData($('#tenantForm')[0]);
            var userId = localStorage.getItem('userId');
            formData.append('AppTId', stringToGuid(userId)); 

            var ajaxUrl = $('#TenantId').val() ? '/Landlord/Update' : '/Landlord/Create';

            $.ajax({
                url: ajaxUrl,
                type: 'POST',
                data: formData,
                processData: false, 
                contentType: false, 
                success: function (response) {
                    if (response.success) {
                        toastr.success(response.message);
                        window.location.href = '/Landlord/Index'; 
                    } else {
                        toastr.error(response.message);
                    }
                },
                error: function (xhr, status, error) {
                    toastr.error("Error: " + error);
                }
            });
        }

       
        $('#tenantForm').on('submit', submitTenantForm);
    });

    document.addEventListener('DOMContentLoaded', function () {
        var gender = '@Model?.Gender';
        if (gender) {
            $("#Gender").val(gender);
        }

        var country = '@Model?.Country';
        if (country) {
            $("#Country").val(country);
        }
    });
</script>
