@model IEnumerable<PMS_PropertyHapa.Models.DTO.OwnerDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Sidebar Ends-->
<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <h3>Owner List</h3>
                </div>
                <div class="col-12 col-sm-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item">Owner</li>
                        <li class="breadcrumb-item active">List</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="email-wrap bookmark-wrap">
            <div class="row">
                <div class="col-xl-12 col-md-12 box-col-12">
                    <div class="email-right-aside bookmark-tabcontent contacts-tabs">
                        <div class="card email-body radius-left">
                            <div class="ps-0">
                                <div class="tab-content">
                                    <div class="tab-pane fade active show" id="pills-personal" role="tabpanel" aria-labelledby="pills-personal-tab">
                                        <div class="card mb-0">
                                            <div class="card-header d-flex">
                                                <h5>Owner</h5><span class="f-14 pull-right mt-0">@Model.Count() List</span>
                                            </div>
                                            <div class="card-body p-0">
                                                <div class="row list-persons" id="addcon">
                                                    <div class="col-xl-4  col-md-5 box-col-6">
                                                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                                            @foreach (var item in Model)
                                                            {
                                                                <a class="contact-tab-@item.OwnerId nav-link" id="v-pills-@item.OwnerId-tab" data-bs-toggle="pill" onclick="activeDiv(@item.OwnerId)" href="#v-pills-@item.OwnerId" role="tab" aria-controls="v-pills-@item.OwnerId" aria-selected="true">
                                                                    <div class="media">
                                                                        <img class="img-50 img-fluid m-r-20 rounded-circle update_img_0" src="@item.Picture" alt="">
                                                                        <div class="media-body">
                                                                            <h6> <span class="first_name_0">@item.FirstName </span><span class="last_name_0">@item.LastName</span></h6>
                                                                            <p class="email_add_0">@item.EmailAddress</p>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            }
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-8 col-md-7 box-col-6">
                                                        <div class="tab-content" id="v-pills-tabContent">
                                                            @foreach (var item in Model)
                                                            {
                                                                <div class="tab-pane contact-tab-@item.OwnerId tab-content-child fade" id="v-pills-@item.OwnerId" role="tabpanel" aria-labelledby="v-pills-@item.OwnerId-tab">
                                                                    <div class="profile-mail">
                                                                        <div class="media align-items-center">
                                                                            <img class="img-100 img-fluid m-r-20 rounded-circle update_img_0" src="@item.Picture" alt="">
                                                                            <input class="updateimg" type="file" name="img" onchange="readURL(this,0)">
                                                                            <div class="media-body mt-0">
                                                                                <h5><span class="first_name_0">@item.FirstName </span><span class="last_name_0">@item.LastName</span></h5>
                                                                                <p class="email_add_0">@item.EmailAddress</p>
                                                                                <ul>
                                                                                    <li><a onclick="editLandlord(@item.OwnerId)">Edit</a></li>
                                                                                    <li><a onclick="deleteOwner(@item.OwnerId)">Delete</a></li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-xl-12 col-lg-12 col-md-5">
                                                                        <div class="default-according style-1 faq-accordion job-accordion">
                                                                            <div class="row">
                                                                                <div class="col-xl-12">
                                                                                    <div class="card">
                                                                                        <div class="card-header">
                                                                                            <h5 class="p-0">
                                                                                                <button class="btn btn-link ps-0" data-bs-toggle="collapse" data-bs-target="#collapseicon2" aria-expanded="false" aria-controls="collapseicon2"><span class="first_name_0">Basic Info</span></button>
                                                                                            </h5>
                                                                                        </div>
                                                                                        <div class="collapse show" id="collapseicon2" aria-labelledby="collapseicon2" data-parent="#accordion">
                                                                                            <div class="card-body post-about">
                                                                                                <ul style="width:50%; float:left;">
                                                                                                    <li>
                                                                                                        <div style="padding-bottom:15px!important">
                                                                                                            <h5>Name</h5>
                                                                                                            <p>@item.FirstName @item.LastName</p>
                                                                                                        </div>
                                                                                                    </li>
                                                                                                    <li>
                                                                                                        <div style="padding-bottom:15px!important">
                                                                                                            <h5>Gender</h5>
                                                                                                            @if (@item.Gender != null)
                                                                                                            {
                                                                                                                <p>@item.Gender</p>
                                                                                                            }
                                                                                                            else
                                                                                                            {
                                                                                                                <p>----------------</p>
                                                                                                            }
                                                                                                        </div>
                                                                                                    </li>
                                                                                                    <li>
                                                                                                        <div style="padding-bottom:15px!important">
                                                                                                            <h5>DOB</h5>
                                                                                                            @{
                                                                                                                DateTime dob = Convert.ToDateTime(item.DOB);
                                                                                                                @if (@item.DOB != null)
                                                                                                                {
                                                                                                                    <p>@item.DOB</p>
                                                                                                                }
                                                                                                                else
                                                                                                                {
                                                                                                                    <p>----------------</p>
                                                                                                                }
                                                                                                            }
                                                                                                        </div>
                                                                                                    </li>
                                                                                                    <li>
                                                                                                        <div style="padding-bottom:15px!important">
                                                                                                            <h5>Owner Nationality</h5>
                                                                                                            @if (@item.OwnerNationality != null)
                                                                                                            {
                                                                                                                <p>@item.OwnerNationality</p>
                                                                                                            }
                                                                                                            else
                                                                                                            {
                                                                                                                <p>----------------</p>
                                                                                                            }
                                                                                                        </div>
                                                                                                    </li>
                                                                                                    <li>
                                                                                                        <div style="padding-bottom:15px!important">
                                                                                                            <h5>Phone No.</h5>
                                                                                                            @if (@item.PhoneNumber != null)
                                                                                                            {
                                                                                                                <p>@item.PhoneNumber</p>
                                                                                                            }
                                                                                                            else
                                                                                                            {
                                                                                                                <p>----------------</p>
                                                                                                            }
                                                                                                        </div>
                                                                                                    </li>
                                                                                                </ul>
                                                                                                <ul style="width:50%; float:left;">
                                                                                                    <li>
                                                                                                        <div style="padding-bottom:15px!important">
                                                                                                            <h5>Address</h5>
                                                                                                            @if (@item.Address != null)
                                                                                                            {
                                                                                                                <p>@item.Address</p>
                                                                                                            }
                                                                                                            else
                                                                                                            {
                                                                                                                <p>----------------</p>
                                                                                                            }
                                                                                                        </div>
                                                                                                    </li>
                                                                                                    <li>
                                                                                                        <div style="padding-bottom:15px!important">
                                                                                                            <h5>Address 2</h5>
                                                                                                            @if (@item.Address2 != null)
                                                                                                            {
                                                                                                                <p>@item.Address2</p>
                                                                                                            }
                                                                                                            else
                                                                                                            {
                                                                                                                <p>----------------</p>
                                                                                                            }
                                                                                                        </div>
                                                                                                    </li>
                                                                                                    <li>
                                                                                                        <div style="padding-bottom:15px!important">
                                                                                                            <h5>Reigon</h5>
                                                                                                            @if (@item.Region != null)
                                                                                                            {
                                                                                                                <p>@item.Region</p>
                                                                                                            }
                                                                                                            else
                                                                                                            {
                                                                                                                <p>----------------</p>
                                                                                                            }
                                                                                                        </div>
                                                                                                    </li>
                                                                                                    <li>
                                                                                                        <div style="padding-bottom:15px!important">
                                                                                                            <h5>District</h5>
                                                                                                            @if (@item.District != null)
                                                                                                            {
                                                                                                                <p>@item.District</p>
                                                                                                            }
                                                                                                            else
                                                                                                            {
                                                                                                                <p>----------------</p>
                                                                                                            }
                                                                                                        </div>
                                                                                                    </li>
                                                                                                    <li>
                                                                                                        <div style="padding-bottom:15px!important">
                                                                                                            <h5>Postal Code</h5>
                                                                                                            @if (@item.PostalCode != null)
                                                                                                            {
                                                                                                                <p>@item.PostalCode</p>
                                                                                                            }
                                                                                                            else
                                                                                                            {
                                                                                                                <p>----------------</p>
                                                                                                            }

                                                                                                        </div>
                                                                                                    </li>
                                                                                                </ul>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-xl-12 col-lg-6 col-md-12 col-sm-6">
                                                                                    <div class="card">
                                                                                        <div class="card-header">
                                                                                            <h5 class="p-0">
                                                                                                <button class="btn btn-link ps-0" data-bs-toggle="collapse" data-bs-target="#collapseicon8" aria-expanded="false" aria-controls="collapseicon8">Lease</button>
                                                                                            </h5>
                                                                                        </div>
                                                                                        <div class="collapse" id="collapseicon8" aria-labelledby="collapseicon8" data-parent="#accordion">
                                                                                            <div class="card-body social-list filter-cards-view">
                                                                                                <table class="table table-bordered">
                                                                                                    <thead>
                                                                                                        <tr>
                                                                                                            <th>Firstname</th>
                                                                                                            <th>Lastname</th>
                                                                                                            <th>Email</th>
                                                                                                        </tr>
                                                                                                    </thead>
                                                                                                    <tbody>
                                                                                                        <tr>
                                                                                                            <td>John</td>
                                                                                                            <td>Doe</td>
                                                                                                            <td>john@example.com</td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                                                                            <td>Mary</td>
                                                                                                            <td>Moe</td>
                                                                                                            <td>mary@example.com</td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                                                                            <td>July</td>
                                                                                                            <td>Dooley</td>
                                                                                                            <td>july@example.com</td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-xl-12 col-lg-6 col-md-12 col-sm-6">
                                                                                    <div class="card">
                                                                                        <div class="card-header">
                                                                                            <h5 class="p-0">
                                                                                                <button class="btn btn-link ps-0" data-bs-toggle="collapse" data-bs-target="#collapseicon11" aria-expanded="false" aria-controls="collapseicon11">Property</button>
                                                                                            </h5>
                                                                                        </div>
                                                                                        <div class="collapse" id="collapseicon11" aria-labelledby="collapseicon11" data-parent="#accordion">
                                                                                            <div class="card-body social-list filter-cards-view">
                                                                                                <div class="media">
                                                                                                    <img class="img-50 img-fluid m-r-20 rounded-circle" alt="" src="../assets/images/user/3.png">
                                                                                                    <div class="media-body"><span class="d-block">Sarah Loren</span><a href="javascript:void(0)">Add Friend</a></div>
                                                                                                </div>
                                                                                                <div class="media">
                                                                                                    <img class="img-50 img-fluid m-r-20 rounded-circle" alt="" src="../assets/images/user/2.png">
                                                                                                    <div class="media-body"><span class="d-block">Bucky Barnes</span><a href="javascript:void(0)">Add Friend</a></div>
                                                                                                </div>
                                                                                                <div class="media">
                                                                                                    <img class="img-50 img-fluid m-r-20 rounded-circle" alt="" src="../assets/images/user/10.jpg">
                                                                                                    <div class="media-body"><span class="d-block">Comeren Diaz</span><a href="javascript:void(0)">Add Friend</a></div>
                                                                                                </div>
                                                                                                <div class="media">
                                                                                                    <img class="img-50 img-fluid m-r-20 rounded-circle" alt="" src="../assets/images/user/3.jpg">
                                                                                                    <div class="media-body"><span class="d-block">Jason Borne</span><a href="javascript:void(0)">Add Friend</a></div>
                                                                                                </div>
                                                                                                <div class="media">
                                                                                                    <img class="img-50 img-fluid m-r-20 rounded-circle" alt="" src="../assets/images/user/11.png">
                                                                                                    <div class="media-body"><span class="d-block">Andew Jon</span><a href="javascript:void(0)">Add Friend</a></div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
</div>
<script>
    $(document).ready(function () {
        $('.contacts-tabs .nav-link ').removeClass('active show');
        $('.contacts-tabs .tab-content .tab-content-child ').removeClass('active show');
        $('.contact-tab-' + @Model.Take(1).Select(x=>x.OwnerId).FirstOrDefault()).addClass('active show');
    });

    function deleteOwner(ownerId) {
        Swal.fire({
            title: 'Are you sure?',
            text: 'Once deleted, you will not be able to recover this owner!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: `/Landlord/Delete/?ownerId=${encodeURIComponent(ownerId)}`,
                    type: 'DELETE',
                    success: function (data) {
                        if (data.success) {
                            window.location.reload();
                            Swal.fire(
                                'Deleted!',
                                'The owner has been deleted.',
                                'success'
                            );
                        } else {
                            Swal.fire(
                                'Error!',
                                'There was an issue deleting the owner.',
                                'error'
                            );
                        }
                    },
                    error: function () {
                        Swal.fire(
                            'Error!',
                            'There was an issue deleting the owner.',
                            'error'
                        );
                    }
                });
            }
        });
    }





</script>
<script>
    function editLandlord(ownerId) {
        window.location.href = `/Landlord/EditLandlord?ownerId=${ownerId}`;
    }
</script>